<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Footer"/>
<f:section name="Main">
    <footer>
        <section class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="menu-footer">
                            <ul class="menu-footer__list">
                                <li class="menu-footer__list-item">
                                    <a href="/impressum" class="menu-footer__list-item-link"> Impressum </a>
                                </li>
                                <li class="menu-footer__list-item">
                                    <a href="/datenschutz" class="menu-footer__list-item-link"> Datenschutzerklärung </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div id="copyright">
                            <f:format.raw>{copyright}</f:format.raw>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</f:section>
</html>