<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:switch expression="{data.header_layout}">
    <f:case value="0">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><h1 class="headline">{data.header}</h1></f:format.html>
    </f:case>
    <f:case value="1">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><h2 class="headline">{data.header}</h2></f:format.html>
    </f:case>
    <f:case value="2">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><h3 class="headline">{data.header}</h3></f:format.html>
    </f:case>
    <f:case value="3">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><h4 class="headline">{data.header}</h4></f:format.html>
    </f:case>
    <f:case value="100"></f:case>
</f:switch>
<f:if condition="{data.subheader}">
    <f:if condition="{data.header_layout} == 0">
        <f:then>
            <h2>{data.subheader}</h2>
        </f:then>
        <f:else>
            <p>{data.subheader}</p>
        </f:else>
    </f:if>

</f:if>

</html>
