<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <div class="row">
        <div class="col-12 col-md-4">
            <f:if condition="{data.contact_phone}">
                <p class="phone"><a href="tel:{data.contact_phone}">{data.contact_phone}</a></p>
            </f:if>
            <f:if condition="{data.contact_mail}">
                <p class="mail"><a href="mailto:{data.contact_mail}">{data.contact_mail}</a></p>
            </f:if>
            <f:if condition="{data.contact_opening}">
                <p class="opening">Mo-Fr <br />{data.contact_opening}</p>
            </f:if>
        </div>
        <div class="col-12 col-md-8">

            <div class="googlemap">
                <div class="map-placeholder"
                     data-iframe-src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Lichtensteinstra%C3%9Fe%20Leipzig+(Jens%20Lehmann%20Construction)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                     data-width="100%" data-height="400px" style="width: 100%; min-height: 400px;">
                    <h4>Google Map laden</h4>
                    <p>
                        Wenn Sie die Map auf dieser Seite sehen möchten, werden personenbezogene Daten an den Betreiber der Map
                        gesendet und Cookies durch den Betreiber gesetzt.
                        Daher ist es möglich, dass der Anbieter Ihre Zugriffe speichert und Ihr Verhalten analysieren kann.
                        Die Datenschutzerklärung von Google Maps finden Sie unter:
                        <a href="https://policies.google.com/privacy" target="_blank" title="https://policies.google.com/privacy">https://policies.google.com/privacy</a>
                    </p>
                    <div>
                        <button id="map-privacy-check-once" class="button button--outline button-map">
                            Karte auf dieser Seite laden
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>