<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">

    <f:if condition="{companyPageUid} == {data.pid} && {data.colPos} == 15">
        <f:then>
            </div>
            <f:render partial="Header/HeaderPosition" arguments="{_all}"/>
            <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><f:spaceless>{data.bodytext}</f:spaceless></f:format.html>
        </f:then>
       <f:else>
           <f:if condition="{data.header}">
               <f:then>
                   <div class="col-12">
                       <f:render partial="Header/HeaderPosition" arguments="{_all}"/>
                   </div>
               </f:then>
           </f:if>
           <f:if condition="{data.bodytext}">
               <f:if condition="{data.two_columns}">
                   <f:then>
                       <div class="col-12 bodytext {f:if(condition: '{data.two_columns} == 1', then: 'text-columns-2', else: '')}">
                           <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><f:spaceless>{data.bodytext}</f:spaceless></f:format.html>
                       </div>
                   </f:then>
                   <f:else>
                       <div class="col-12 bodytext {f:if(condition:'{data.textFullwidth} == 1', then: '', else: 'col-lg-9 ')}">
                           <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><f:spaceless>{data.bodytext}</f:spaceless></f:format.html>
                       </div>
                   </f:else>
               </f:if>
           </f:if>
           <f:if condition="{data.link}">
               <div class="col-12">
                   <f:render partial="CTA/Cta" arguments="{_all}"/>
               </div>
           </f:if>
       </f:else>
    </f:if>

</f:section>
<f:section name="splitBodytext">
    <div class="bodytext">
        <f:if condition="{data.bodytext}">
            <f:format.html parseFuncTSPath="lib.parseFunc_RTE"><f:spaceless>{data.bodytext}</f:spaceless></f:format.html>
        </f:if>
    </div>
</f:section>
<f:section name="splitHeader">
    <div class="split-header">
        <f:render partial="Header/HeaderPosition" arguments="{_all}"/>
    </div>
</f:section>

</html>