<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{type} == 'media'">
    <f:then>
        <f:switch expression="{data.imageorient}">
            <f:case value="0">col-12 text-center</f:case>
            <f:case value="8">col-12 order-sm-2</f:case>
            <f:case value="25">
                col-12 col-md-4 order-sm-2
            </f:case>
            <f:case value="26">
                col-12 order-2 col-md-6 order-md-1
            </f:case>

        </f:switch>
    </f:then>
</f:if>
</html>