<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
<!--                <f:format.raw>{content}</f:format.raw>-->



                <!-- Services Section Start -->
                <section id="services" class="section">


                        <div class="row">
                            <!-- Start Col -->
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="services-item text-center">
                                    <div class="icon">
                                        <i class="fas fa-users-cog"></i>
                                    </div>
                                    <h4>Beratung & Konzeption</h4>
                                    <p></p>
                                </div>
                            </div>
                            <!-- End Col -->
                            <!-- Start Col -->
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="services-item text-center">
                                    <div class="icon">
                                        <i class="fas fa-laptop-code"></i>
                                    </div>
                                    <h4>Entwicklung & Wartung</h4>
                                    <p></p>
                                </div>
                            </div>
                            <!-- End Col -->
                            <!-- Start Col -->
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="services-item text-center">
                                    <div class="icon">
                                        <i class="fas fa-tools"></i>
                                    </div>
                                    <h4>Erweiterung und Reproduktion</h4>
                                    <p></p>
                                </div>
                            </div>
                            <!-- End Col -->

                        </div>

                </section>
                <!-- Services Section End -->

                <!-- Cool Fetatures Section Start -->
                <section id="features" class="section">
                    <div class="container">
                        <!-- Start Row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="features-text section-header text-center">
                                    <div>
                                        <h2 class="section-title">Leistungen die ich anbiete</h2>
                                        <div class="desc-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Row -->
                        <!-- Start Row -->
<!--                        <div class="row featured-bg">-->
<!--                            &lt;!&ndash; Start Col &ndash;&gt;-->
<!--                            <div class="col-lg-6 col-md-6 col-xs-12 p-0 opacity-zero">-->
<!--                                &lt;!&ndash; Start Fetatures &ndash;&gt;-->
<!--                                <div class="feature-item featured-border1 element-1">-->
<!--                                    <div class="feature-icon d-flex align-items-center">-->
<!--                                        <img class="img-fluid feature-typo3-logo" width="40" height="40" src="typo3conf/ext/jlc_template/Resources/Public/images/typo3_3.svg" />-->
<!--                                    </div>-->
<!--                                    <div class="feature-info">-->
<!--                                        <h4>TYPO3</h4>-->
<!--                                        <p>Das Enterprise-CMS TYPO3 ist ein vielseitiger<br />-->
<!--                                            Allrounder. Auch für Ihr Unternehmen setze ich <br />-->
<!--                                            damit gern umfangreiche Websites um – ganz <br />-->
<!--                                            nach Ihren Erfordernissen.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Fetatures &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Col &ndash;&gt;-->

<!--                            &lt;!&ndash; Start Col &ndash;&gt;-->
<!--                            <div class="col-lg-6 col-md-6 col-xs-12 p-0 opacity-zero">-->
<!--                                &lt;!&ndash; Start Fetatures &ndash;&gt;-->
<!--                                <div class="feature-item featured-border2 element-2">-->
<!--                                    <div class="feature-icon">-->
<!--                                        <i class="lni-briefcase"></i>-->
<!--                                    </div>-->
<!--                                    <div class="feature-info">-->
<!--                                        <h4>Intuitiv bedienbares Backend</h4>-->
<!--                                        <p>Schnelle Anpassungen ob Text oder Bild, <br />-->
<!--                                            einfügen von Conten-Elementen, <br />-->
<!--                                            dass alles  intuitiv durch den <br />-->
<!--                                            Redakteur umsetzbar.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Fetatures &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Col &ndash;&gt;-->

<!--                            &lt;!&ndash; Start Col &ndash;&gt;-->
<!--                            <div class="col-lg-6 col-md-6 col-xs-12 p-0 opacity-zero">-->
<!--                                &lt;!&ndash; Start Fetatures &ndash;&gt;-->
<!--                                <div class="feature-item featured-border1 element-3">-->
<!--                                    <div class="feature-icon">-->
<!--                                        <i class="lni-invention"></i>-->
<!--                                    </div>-->
<!--                                    <div class="feature-info">-->
<!--                                        <h4>Frontend Umsetzung</h4>-->
<!--                                        <p>Neben der Backendseitigen Entwicklung, <br />-->
<!--                                            setze ich zudem auch das Frontend <br />-->
<!--                                            (Darstellung der grafischen Benutzeroberfläche) <br />-->
<!--                                            nach modernen Standards nach dem <br />-->
<!--                                            "Mobile First" - Prinzip um.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Fetatures &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Col &ndash;&gt;-->

<!--                            &lt;!&ndash; Start Col &ndash;&gt;-->
<!--                            <div class="col-lg-6 col-md-6 col-xs-12 p-0 opacity-zero">-->
<!--                                &lt;!&ndash; Start Fetatures &ndash;&gt;-->
<!--                                <div class="feature-item featured-border2 element-4">-->
<!--                                    <div class="feature-icon">-->
<!--                                        <i class="lni-layers"></i>-->
<!--                                    </div>-->
<!--                                    <div class="feature-info">-->
<!--                                        <h4>Extension Entwicklung</h4>-->
<!--                                        <p>Einer der Hauptvorteile von TYPO3 ist seine<br />-->
<!--                                            nahezu unbegrenzte Möglichkeit zur Erweiterung. <br />-->
<!--                                            Aus dem reinen CMS kann somit beispielsweise <br />-->
<!--                                            ein interaktives Bewerberportal werden.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Fetatures &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Col &ndash;&gt;-->

<!--                            &lt;!&ndash; Start Col &ndash;&gt;-->
<!--                            <div class="col-lg-6 col-md-6 col-xs-12 p-0 opacity-zero">-->
<!--                                &lt;!&ndash; Start Fetatures &ndash;&gt;-->
<!--                                <div class="feature-item featured-border3 element-5">-->
<!--                                    <div class="feature-icon">-->
<!--                                        <i class="lni-reload"></i>-->
<!--                                    </div>-->
<!--                                    <div class="feature-info">-->
<!--                                        <h4>Rest-API Schnittstelle</h4>-->
<!--                                        <p>REST-API steht für „Representational State <br />-->
<!--                                            Transfer - Application Programming Interface“. <br />-->
<!--                                            Eine Schnittstelle zu einer solchen API <br />-->
<!--                                            ermöglicht einen automatisierten Datenaus-<br />-->
<!--                                            tausch von Systemen.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Fetatures &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Col &ndash;&gt;-->

<!--                            &lt;!&ndash; Start Col &ndash;&gt;-->
<!--                            <div class="col-lg-6 col-md-6 col-xs-12 p-0 opacity-zero">-->
<!--                                &lt;!&ndash; Start Fetatures &ndash;&gt;-->
<!--                                <div class="feature-item element-6">-->
<!--                                    <div class="feature-icon">-->
<!--                                        <i class="lni-support"></i>-->
<!--                                    </div>-->
<!--                                    <div class="feature-info">-->
<!--                                        <h4>Major Upgrades </h4>-->
<!--                                        <p>Regelmäßige Updates und die Nutzung <br>-->
<!--                                            von LTS-Systemen ist besonders im <br/>-->
<!--                                            Bereich Datensicherheit wichtig. Ich <br/>-->
<!--                                            biete die Integration älterer Systeme <br/>-->
<!--                                            in ein aktuelles LTS-System an. Je nach <br/>-->
<!--                                            Versionierung geschieht dies mit einem <br/>-->
<!--                                            Major Upgrade oftmals müssen jedoch <br/>-->
<!--                                            Entwicklungen neu gebaut werden und in <br/>-->
<!--                                            die neue Version integriert werden.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Fetatures &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Col &ndash;&gt;-->


<!--                        </div>-->
                        <!-- End Row -->
                    </div>
                </section>
                <!-- Cool Fetatures Section End -->


                <!-- Recent Showcase Section Start -->
             <f:comment>   <section id="showcase">
                    <div class="container-fluid right-position">
                        <!-- Start Row -->
                        <div class="row gradient-bg">
                            <div class="col-lg-12">
                                <div class="showcase-text section-header text-center">
                                    <div>
                                        <h2 class="section-title">Recent Works</h2>
                                        <div class="desc-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                                            <p>eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Row -->
                        <!-- Start Row -->
                        <div class="row justify-content-center showcase-area">
                            <div class="col-lg-12 col-md-12 col-xs-12 pr-0">
                                <div class="showcase-slider owl-carousel">
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/SteffiKriegerstein.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/01.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/02.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/02.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/03.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/03.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/04.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/04.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/05.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/05.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/01.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/01.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/02.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/02.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="screenshot-thumb">
                                            <img src="typo3conf/ext/jlc_template/Resources/Public/images/showcase/03.jpg" class="img-fluid" alt="" />
                                            <div class="hover-content text-center">
                                                <div class="fancy-table">
                                                    <div class="table-cell">
                                                        <div class="single-text">
                                                            <p>Icon , Web</p>
                                                            <h5>Redesign Slack</h5>
                                                        </div>
                                                        <div class="zoom-icon">
                                                            <a class="lightbox" href="typo3conf/ext/jlc_template/Resources/Public/images/showcase/03.jpg"><i class="lni-zoom-in"></i></a>
                                                            <a href="#"><i class="lni-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->
                    </div>
                </section></f:comment>
                <!-- Recent Showcase Section End -->

                <!-- Contact Us Section -->
                <section id="contact" class="section">
                    <!-- Container Starts -->

                        <!-- Start Row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-text section-header text-center">
                                    <div>
                                        <h2 class="section-title">Anfrage senden</h2>
                                        <div class="desc-text">
                                            <p>Gerne können Sie mich bei Fragen kontaktieren.</p>
                                            <p>Sollten Sie ein unverbindliches Angebot wünschen, zögern Sie nicht mir zu schreiben.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Row -->
                        <!-- Start Row -->
                        <div class="row">
                            <!-- Start Col -->
                            <div class="col-lg-6 col-md-12">


                                    <f:cObject typoscriptObjectPath="lib.embeddedForm" />


                            </div>
                            <!-- End Col -->
                            <!-- Start Col -->
                            <div class="col-lg-6 col-md-12">
                                <div class="contact-img">
                                    <img src="typo3conf/ext/jlc_template/Resources/Public/images/contact/email-codebombsmall.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <!-- End Col -->
                            <!-- Start Col -->
                            <div class="col-lg-1">
                            </div>
                            <!-- End Col -->

                        </div>
                        <!-- End Row -->

                </section>
                <!-- Contact Us Section End -->

            </div>
        </div>
            <f:format.raw>{content}</f:format.raw>
        </div>
    </main>
</f:section>
</html>
